/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
     -fx-background-color:  #000000;
}

Pane.mainBar, AnchorPane, ScrollPane.panePost, .viewport{
    -fx-padding: 8px;
    -fx-background-color: #37383f;
}

Button{
    -fx-cursor:hand;
}
Pane.paneUsers{
   -fx-background-color:#2e3137;
}

Pane.paneUser, Button.notifications{
     -fx-background-color:#282b2e;
}

Button.publish,Button.comment{
    -fx-pref-width: 113px;
    -fx-pref-height: 28px;
    -fx-padding: 0px 10px 0px 10px;
    -fx-background-color: #5965f3;
    -fx-text-fill: white;
    -fx-border-: none;
    -fx-background-radius: 6px;
    -fx-font-family: "Pontano Sans";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-align: center;
}

Button.publish:hover,Button.comment:hover{
     -fx-background-color: #6699ff;
}


Button.notifications{
    -fx-pref-height: 50px;
    -fx-padding: 8px;  
    -fx-background-radius:0px;
    -fx-background-image:url("../img/notifications.png");
    -fx-background-size:32px 32px;
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
}

TextField.search{
    -fx-pref-width: 400px;
    -fx-pref-height: 32px;
    -fx-padding: 4px 8px 4px 8px;
    -fx-background-color: #231f20;
    -fx-text-fill: #c0c0c0;
    -fx-border-color: #232323;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
    -fx-font-family: "Pontano Sans";
    -fx-font-weight: 400;
    -fx-font-size: 14px;
    -fx-text-align: left;
}

Label{
    -fx-pref-height: 20px;
    -fx-text-fill: #d2dadf;
    -fx-font-family: "Pontano Sans";
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-text-align: left;
}

Button.btnSearch{
   
    -fx-background-image:url("../img/Lupa.png");
    -fx-background-color:transparent;
    -fx-background-size:16px 16px;
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
}

Label.nameUser{
    -fx-text-fill: #fff9f9;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

Label.photoUser{
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-image:url("../img/User.png");
    -fx-background-color:transparent;
    -fx-background-size:24px 24px;
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
}
Button.settings{
    -fx-background-image:url("../img/settings.png");
    -fx-background-color:transparent;
    -fx-background-size:17px 17px;
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
    
}

ListView, ListView.virtual-flow{
     -fx-background-color:#2e3137;
}
.cell{
    -fx-background-color:#2e3137;
    -fx-text-fill: #d2dadf;
    -fx-font-weight: 400;
    -fx-font-size: 14px;
    -fx-cursor:hand;
}

.cell:selected{
    -fx-background-color:#40444b;
}


