/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

GridPane.postPane{
   
    -fx-padding: 8px 8px 10px 8px;
    -fx-background-color: #40444b;
    -fx-background-radius: 14px;
}

AnchorPane.post{
    -fx-background-color: #40444b;
}
.scroll-pane{
    -fx-border-color:transparent;
   -fx-background-color: transparent;
}

AnchorPane.tags, AnchorPane.taggedUsers{
    -fx-background-color:#2e3137;
    -fx-background-radius: 6px;
    -fx-border-radius:6px;
}



ImageView.photoUser{
    -fx-background-size:24px 24px;
    -fx-image:url(../img/User.png);
}

Label{
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-font-family: "Pontano Sans";
    -fx-text-fill:#fff9f9;
}

Label.date{
      -fx-text-fill:#b9b4b4;
}

ImageView.imagePost{
    -fx-background-radius: 8px;
    -fx-image:url(../img/settings.png);
    
}

Button.btnEdit{
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-background-image:url("../img/edit.png");
    -fx-background-color: transparent;
    -fx-background-size:16px 16px;
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
}

Separator:horizontal .line{
   -fx-border-color: #606060;
    -fx-border-width: 1;    
}

Label.tags, Label.taggedUsers{
    -fx-text-fill:#5965f3;
    
}