/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 nov. 2022, 09:28:20
    Author     : Andrea
*/
Label.title{
    -fx-font-weight:bold;
    -fx-font-size: 30px;
    -fx-text-fill: #ebeef3;
}

AnchorPane{
        -fx-background-color: #6699ff;
}
